@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<p>Working Gear is located at <b>Powell Street, Vancouver, B.C.</b></p>

<h3>MAILING ADDRESS</h3>
<address>
    Working Gear Clothing Society <br />
    520 Powell Street <br />
    Vancouver, B.C. V6A 1G9 <br />
    <abbr title="Phone">Phone:</abbr>
    778.877.0147
</address>

<h3>HOURS OF OPERATION</h3>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
