@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>

<h3>E-MAIL</h3>
<a href="mailto:Support@example.com">Info@workinggear.ca</a>

<h3>PHONE</h3>
<p>778.877.0147</p>

<h3>MAILING ADDRESS</h3>
<address>
    Working Gear Clothing Society <br />
    520 Powell Street <br />
    Vancouver, B.C. V6A 1G9
</address>

<h3>HOURS OF OPERATION</h3>
<p>W    6:00 PM - 8:00 PM</p>
<p>Th  6:00 PM - 8:00 PM</p>
<p>Sa  10:00 AM - 12:00 PM</p>


