@{
    ViewData["Title"] = "Home Page";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawCharts);

    function drawCharts() {
        drawPieChart();
        drawLineChart();
    }

    function drawPieChart() {
        var data = google.visualization.arrayToDataTable([
            ['Item type', 'Requests'],

            ['Shoes', 19],
            ['Pants', 14],
            ['Shirts', 10],
            ['Boots', 8],
            ['Outerwear', 6],
            ['Headgear', 3],
            ['High visibility', 3],
            ['Gloves', 1]
        ]);

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data);
    }

    function drawLineChart() {
        var data = google.visualization.arrayToDataTable([
            ["Date", "requests"],
            [new Date(2018, 7, 24), 4],
            [new Date(2018, 7, 25), 1], [new Date(2018, 7, 26), 3], [new Date(2018, 7, 27), 4],
            [new Date(2018, 7, 28), 3], [new Date(2018, 7, 29), 4], [new Date(2018, 7, 30), 2],
            [new Date(2018, 7, 31), 5], [new Date(2018, 8, 1), 8], [new Date(2018, 8, 2), 6],
            [new Date(2018, 8, 3), 3], [new Date(2018, 8, 4), 3], [new Date(2018, 8, 5), 5],
            [new Date(2018, 8, 6), 7], [new Date(2018, 8, 7), 6], [new Date(2018, 8, 8), 6],
            [new Date(2018, 8, 9), 3], [new Date(2018, 8, 10), 1], [new Date(2018, 8, 11), 2],
            [new Date(2018, 8, 12), 4], [new Date(2018, 8, 13), 6], [new Date(2018, 8, 14), 5],
            [new Date(2018, 8, 15), 9], [new Date(2018, 8, 16), 4], [new Date(2018, 8, 17), 9],
            [new Date(2018, 8, 18), 8], [new Date(2018, 8, 19), 6], [new Date(2018, 8, 20), 4],
            [new Date(2018, 8, 21), 6], [new Date(2018, 8, 22), 7], [new Date(2018, 8, 23), 9]
        ]);

        var options = {
            hAxis: {
                title: 'Day',
                format: 'M/d/yy',
                gridlines: { count: 15 }
            },
            vAxis: {
                gridlines: { color: 'none' },
                title: 'Requests'
            },
            legend: {
                position: 'none'
            }
        };

        var chart = new google.visualization.LineChart(document.getElementById('linechart'));

        chart.draw(data, options);
    }
</script>

<div class="row">
    <div class="container">
        <h3>Recent Trends</h3>
        <div class="container">
            <div class="row">
                <div class="col-6 col-md-6">
                    <h3>Item popularity</h3>
                    <div id="piechart" style="width:500px; height:300px;"></div>
                </div>
                <div class="col-6 col-md-6">
                    <h3>Requests within past 30 days</h3>
                    <div id="linechart" style="width:700px; height:300px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
