@{
    ViewData["Title"] = "Home Page";
}


<div class="row">
    <div class="container">
        <div>
            <h3>Recent Trends</h3>
            <p>Line chart</p>
            <p>Bar chart</p>
        </div>
        <div>
            <h3>Upcoming Appointments</h3>
            <ul>
                <p>August 17, 2:00pm - Jill Jones</p>
                <p>August 17, 4:30pm - Matt Meyer</p>
                <p>...</p>
            </ul>
            <button>Add appointment</button>
        </div>
        <div>
            <h3>Calendar</h3>
            <p>Here is the calendar.</p>
        </div>

    </div>
</div>
