@{
    ViewData["Title"] = "Inventory";
}

<H3>Select an item</H3>

<ul class="links">
    <li>
        <a asp-controller="Boots" asp-action="Index">
            <img alt="Boot Img" src="@Url.Content("~/images/boot-img.jpeg")">
        </a>
    </li>
</ul>