@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<ul class="links">
    <li>
        <a asp-controller="Boots" asp-action="Index">
            <img alt="Boot Img" src="@Url.Content("~/images/boot-img.jpeg")" height="250">
        </a>
    </li>
    <li>
        <a asp-controller="Shirts" asp-action="Index">
            <img alt="Shirt Img" src="@Url.Content("~/images/shirt-img.jpg")" height="250">
        </a>
    </li>
</ul>